<div class="footer"  style="background-color: rgb(60, 59, 59); color: aliceblue;">
    <div class="footer-top">
        <div class="container">
          <div class="row" style="padding-top: 3%;">
  
            <div class="col-lg-3 col-md-6  footer-links">
              <h4>Useful Links</h4>
              <ul> 
                <li><i class="bx bx-chevron-right"></i> <a routerLink="/home/">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a routerLink="/services/">Services</a></li>
                <li><i class="bx bx-chevron-right"></i> <a routerLink="/contactus/">Contact</a></li>
              </ul>
            </div>
  
           <div class="col-lg-3 col-md-6 footer-links">
              <h4>Social Media Links</h4>
              <ul>
               <li><a href="https://linkedin.com/company/sparthoughts" class="linkedin"><i class="bx bxl-linkedin"></i> LinkedIn</a></li>
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                1-72 Commuter Drive,<br>
                Brampton, Ontario, Canada<br>
                L7A 0P8 <br>
                <strong>Phone:</strong> +1 437-230-9014<br>
                <strong>Email:</strong> mail@sparthoughts.com<br>
              </p>
  
            </div>
  
            <div class="col-lg-3 col-md-6   footer-info">
               <h4>About SPARThoughts</h4>
              <p>SPARThoughts is a technology firm with an ideology of digital transformation of Business. We provide ultimate digital solution for business transformation.<br>
  Experience technology and make a step towards new future with SPARThoughts.</p>
             
            </div>
  
          </div>
        </div>
      </div>
      
      <div class="center">
          &copy; Copyright <span><a href="https://sparthoughts.com/">SPARThoughts Inc.</a>, 2022</span>. All Rights Reserved.
        </div>
      
      
</div>