
<br><br><br><br><br><br>
<div class="container">
    <h1>Services</h1>
</div><br><br>
<div class="row" style="padding-left:15% ; padding-right: 10%;text-align: center; justify-content: center;" data-aos="fade-up" fxLayout="row" fxLayoutAlign="center center">
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card ">
            
            <mat-card-content>
                <i class="bi bi-laptop"></i>
                    <h1>SOFTWARE DEVELOPMENT</h1>
                    <h3>We are expert in implementing software solutions which transforms business requirements in suitable form which helps you to manage your business.</h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>MOBILE APP DEVELOPMENT</h1>
                    <h3>We develop all kind of mobile applications which runs on various Opearting Systems like android, iOS etc.</h3><br><br><br>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>WEBSITE DESIGN
                    </h1>
                    <h3>We put a lot of efforts in design, as it’s the most important ingredient of successful website. We design and develop rich,beautiful & responsive websites with latest technology.

                    </h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>TESTING & QA </h1>
                    <h3>Our specialised testing team provide services that are well suited for TaaS model include automated testing like security,regression, performance and testing of cloud based web as well as mobile applications.

                    </h3>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  <br><br><br><br><br><br>

  <div class="row" style="padding-left:15% ; padding-right: 10%;text-align: center; justify-content: center;" data-aos="fade-up">
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                <i class="bi bi-laptop"></i>
                    <h1>BULK SMS & VOICE MESSAGE SERVICE</h1>
                    <h3>Make your products available online with an E-commerce application. Our E-commerce application helps you to deliver your products to your customers worldwide.</h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>SOCIAL MEDIA MARKETING</h1>
                    <h3>Understanding your brand & we make contents that connect your customers with social media. We will set you up for success and show you real result.

                    </h3><br><br><br>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>LOGO & GRAPHICS DESIGNING </h1>
                    <h3>We design unique and beautiful logos. We make designs that attract your cliets.Our professional graphic designers possess a creative mind with an artistic inclination.</h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>SEO & DIGITAL MARKETING
                    </h1>
                    <h3>Optimizing a website involve editing and adding its content and modify its associated coding to both increase its relevance to specific keywords and remove barriers to the indexing activities of search engines.</h3>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  <br><br><br><br><br><br>
  <div class="row" style="padding-left:15% ; padding-right: 10%;text-align: center; justify-content: center;" data-aos="fade-up">
    <div class="col-sm-6 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                <img mat-card-image src="./assets/images/serv1.jpg" alt="Photo of a Shiba Inu">
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-6 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">settings</span>
                    <h1>FLEXIBLE SERVICES</h1>
                    <h3>Flexible services are being provided to variety of customers from variety of domains.</h3>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">trending_up</span>
                    <h1>LATEST TECHNOLOGY</h1>
                    <h3>Most of the development takes place on latest technology, cloud services are demanding and we know them..</h3>
            </mat-card-content>
          </mat-card>
    </div>
  </div>