
<br><br><br><br><br><br>
<br><br>
<div class="row" style="padding-left:15% ; padding-right: 10%;text-align: center; justify-content: center;" data-aos="fade-up" fxLayout="row" fxLayoutAlign="center center">
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card ">
            
            <mat-card-content>
                <i class="bi bi-laptop"></i>
                    <h1>SOFTWARE DEVELOPMENT</h1>
                    <h3>We are expert in implementing software solutions which transforms business requirements in suitable form which helps you to manage your business.</h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>MOBILE APP DEVELOPMENT</h1>
                    <h3>We develop all kind of mobile applications which runs on various Opearting Systems like android, iOS etc.</h3><br><br><br>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>WEBSITE DESIGN
                    </h1>
                    <h3>We put a lot of efforts in design, as it’s the most important ingredient of successful website. We design and develop rich,beautiful & responsive websites with latest technology.

                    </h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>TESTING & QA </h1>
                    <h3>Our specialised testing team provide services that are well suited for TaaS model include automated testing like security,regression, performance and testing of cloud based web as well as mobile applications.

                    </h3>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  <br><br><br><br><br><br>

  <div class="row" style="padding-left:15% ; padding-right: 10%;text-align: center; justify-content: center;" data-aos="fade-up">
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                <i class="bi bi-laptop"></i>
                    <h1>SOFTWARE DEVELOPMENT</h1>
                    <h3>We are expert in implementing software solutions which transforms business requirements in suitable form which helps you to manage your business.</h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>MOBILE APP DEVELOPMENT</h1>
                    <h3>We develop all kind of mobile applications which runs on various Opearting Systems like android, iOS etc.</h3><br><br><br>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>WEBSITE DESIGN
                    </h1>
                    <h3>We put a lot of efforts in design, as it’s the most important ingredient of successful website. We design and develop rich,beautiful & responsive websites with latest technology.

                    </h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3 d-flex align-items-stretch">
        <mat-card class="example-card">
            
            <mat-card-content>
                    <h1>TESTING & QA </h1>
                    <h3>Our specialised testing team provide services that are well suited for TaaS model include automated testing like security,regression, performance and testing of cloud based web as well as mobile applications.

                    </h3>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  <br><br><br><br><br><br>
