
<br><br><br><br><br><br><br>
<div class="container">
    <h1>Contact Us</h1>
</div><br><br>
<div style="padding-left:10% ; padding-right: 10%;text-align: center; justify-content: center;" data-aos="fade-up">

    <mat-card>
        <mat-card-title>
            <div class="info-box">
            <span class="material-icons">place</span>
            <h1> Ontario, Canada</h1>
            1-72 Commuter Drive,<br>
            Brampton, Ontario, Canada<br>
            L7A 0P8<br>
          </div></mat-card-title>
        
    </mat-card>
</div><br><br><br>

  

  <br><br><br>
  <div class="row" style="padding-left:15% ; padding-right: 10%;text-align: center; justify-content: center;" data-aos="fade-up">
    <div class="col-sm-6">
        <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">mail</span>
                    <h1>E-mail</h1>
                    <h3>mail@sparthoughts.com</h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-6">
        <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">phone</span>
                    <h1>Call Us</h1>
                    <h3>+1 437-230-9014 </h3>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  <br><br><br><br><br>
  <div class="row" style="padding-left:15% ; padding-right: 10%;text-align: center; justify-content: center;" data-aos="fade-up">
    <div class="col-sm-6">
        <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">place</span>
                    <h1>Pune</h1>
                    <h3>C-707, Rose Mansion, Mumbai-Pune Highway,
                        Punavale,<br> Pune- 411033,<br>
                        India.</h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-6">
        <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">place</span>
                    <h1>Ichalkaranji</h1>
                    <h3>6/733, Khanjire Mala, Near Shraddha classes,<br>
                        Ichalkaranji- 416115,<br>
                        India.</h3>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
<br><br>
  <div class="row" style="padding-left:10% ; padding-right: 10%;text-align: center; justify-content: center;" data-aos="fade-up">
    <div class="col-sm-3">
        <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">mail</span>
                    <h1>E-mail</h1>
                    <h3>mail@sparthoughts.com</h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3">
        <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">phone</span>
                    <h1>Call Us</h1>
                    <h3>+1 437-230-9014 </h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3">
        <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">mail</span>
                    <h1>E-mail</h1>
                    <h3>mail@sparthoughts.com</h3>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-sm-3">
        <mat-card class="example-card">
            
            <mat-card-content>
                <span class="material-icons">phone</span>
                    <h1>Call Us</h1>
                    <h3>+1 437-230-9014 </h3>
            </mat-card-content>
          </mat-card>
    </div>
  </div>
  <br><br>