<div class="background">
    <br><br><br><br><br>
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert" style="margin-left: 30px; margin-right: 30px;text-align: center;">
        <strong>Thankyou</strong> for contacting us. Have a good day!!
        <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <br><br>
    <h1 id="heading">Contact Us</h1>
    <br><br><br><br>
    <div class="row">

        <div class="col-sm-6" style="padding-left: 20%; text-align: center;">
            
            <mat-card class="example-card">
                
                <mat-card-content>
                    <span class="material-icons">place</span>
                    <h3>C-707, Rose Mansion, Mumbai-Pune Highway,
                        Punavale, Pune- 411033,
                        India.</h3>
                </mat-card-content>
            </mat-card><br>
            <mat-card class="example-card">
                
                <mat-card-content>
                    <span class="material-icons">call</span>
                    <h3>+1 437-230-9014</h3>
                </mat-card-content>
            </mat-card><br>
            <mat-card class="example-card">
                
                <mat-card-content>
                    <span class="material-icons">email</span>
                    <h3>mail@sparthoughts.com

                    </h3>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="col-sm-6">
            <div style="padding-left:30%;">
                <mat-card class="example-card">
                <h2 id="h2heading">Send Message</h2>
                <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" id="h2heading" >
                    
                    <br><input type="text" name="fullname"  placeholder="Full Name                                           " style="border: transparent; font-size: 1.2rem;text-decoration: underline;" ngModel> <br><br>
                    <br><input type="text" name="email"  placeholder="E-mail                                         " style="border: transparent; font-size: 1.2rem;text-decoration: underline;" ngModel> <br><br>
                    <br><input type="text" name="messageTyped"  placeholder="Message                                          " style="border: transparent; font-size: 1.2rem;text-decoration: underline;" ngModel> 
                    <br><input type="text" name="contactId" type="hidden" placeholder="ID                                           " style="border: transparent; font-size: 1.2rem;text-decoration: underline;" ngModel> <br><br>
                    
                    <button type="submit" style="border-radius: 20px;" mat-flat-button color="primary">Submit</button>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
    


</div>