
<div class="header" class="fixed-top" >
    <mat-toolbar class="navbar" style="background-color: black;">
        
        <div><a href="/"><img class="logo flot-left" src="./assets/images/logo.png" class="img-fluid" width="200" height="250"></a></div> 
        <div>
            <span><button routerLink="/" mat-flat-button color="primary">Home</button></span>
            <span><button routerLink="/services/" mat-flat-button color="primary">Service</button></span>
            <span><button routerLink="/contactus/" mat-flat-button color="primary">Contact</button></span>
        </div>
    </mat-toolbar>
    
</div>
