


<div  class="bg-img"></div>
<div class="bg-text"  @fade>

  <h2 class="animated fadeInDown" style=" color: #ffff; ">TAKE YOUR BUSINESS TO THE NEXT LEVEL.</h2>
  <h4 class="wordCarousel">
    <div class="blur">

      <span> &nbsp;&nbsp;&nbsp;&nbsp;WE ARE THE EXPERTS IN</span> <br> 
      <div class="divx"> 
        <ul class="flip4" style="font-family:montserrat; list-style-type: none;"> 
          <li>Cloud Solutions</li>
          <li>E-Commerce Solutions</li>
          <li>Website Design and Development</li>
          <li>Android App Design and Development</li>
          <li>iOS App Design and Development</li>				
          <li>Digital Marketing</li>  
        </ul>
      </div>    
    </div>  
  </h4>
</div>
<br><br><br><br><br><br><br>
  
<section class="features">
    <div class="container">

      <div class="section-title">
        <h2 @fade><u>FEATURES</u></h2>
        <p>We provide cost effective, highly available, performance optimized, scalable solutions while working with an ideology of digital transformation.</p>
      </div>
      <br>
      <div class="row" data-aos="fade-right">
        <div class="col-md-5">
          <img src="./assets/images/cloud.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-4">
          <h3>Cloud Computing Solutions</h3>
          <p class="font-italic">
            The world is moving on Cloud and we are here to help you to get there.
          </p>
          <ul>
            <li><i class="icofont-check"></i><b> Cost-Effective</b> - Lower your infra, hosting and development cost </li>
            <li><i class="icofont-check"></i><b> Secure and Reliable</b> - Make your systems scalable, reliable, and secure.</li>
            <li><i class="icofont-check"></i><b> Go global in minutes</b> - Provide lower latency and a better experience for your customers at minimal cost.</li>
            <li><i class="icofont-check"></i><b> Increase speed and agility</b> - Increase in agility for the organization, since the cost and time it takes to experiment and develop is significantly lower.</li>
            <li><i class="icofont-check"></i><b> No Capacity Limits</b> - You can go as long as you want in terms of capacity.</li>
           </ul>
        </div>
      </div>

      <div class="row" data-aos="fade-left" >
        <div class="col-md-5 order-1 order-md-2">
          <img style="width: 90% !important;" src="./assets/images/agile4.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
          <h3 >Agile Methodology</h3>
          <p class="font-italic">
            Agile is a time-bound, iterative approach to software delivery
          </p>
          
            <ul>
            <li><i class="icofont-check"></i>Agile helps building software incrementally from the start of the project, instead of trying to deliver all at once. </li>
            <li><i class="icofont-check"></i>Highest priority is to satisfy the customer through early and continuous delivery of valuable software.</li>
            <li><i class="icofont-check"></i>Deliver working software frequently, from a couple of weeks to a couple of months, with a preference to the shortest timescale.</li>
            <li><i class="icofont-check"></i>Iteration occurs across activities. Therefore, the requirements and the design are developed together, rather than separately.</li>
            <li><i class="icofont-check"></i>The allocation of requirements, design planning and development are executed in a series of increments. It gives Agile development an extra level of flexibility.</li>
           </ul>
          
        </div>
      </div>
      <div class="row" data-aos="fade-right">
        <div class="col-md-5">
          <img src="./assets/images/security111.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5">
          <h3>Privacy and Data Security</h3>
           <p class="font-italic">
           Data security and privacy protection are the two main factors of user's concerns about the technology. 
          </p>
          
          <ul>
            <li><i class="icofont-check"></i><b> Data encryption</b> – Data-centric and tokenization security solutions that protect data across enterprise, cloud, mobile and big data environments.</li>
           <li><i class="icofont-check"></i><b> Mobile App Security</b> - Protecting sensitive data in native mobile apps while safeguarding the data end-to-end.</li>
            <li><i class="icofont-check"></i><b> Web Browser Security</b> - Protects sensitive data captured at the browser, from the point the customer enters cardholder or personal data, and keeps it protected through the ecosystem to the trusted host destination.</li>
            <li><i class="icofont-check"></i><b> Enterprise Data Protection </b>– Solution that provides an end-to-end data-centric approach to enterprise data protection.</li>
          </ul>
          
        </div>
      </div>
      <div class="row" data-aos="fade-left">
        <div class="col-md-5 order-1 order-md-2">
          <img style="height: 100% ; "src="./assets/images/cus2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>24/7 Customer Support</h3>
          <p class="font-italic">
           We love to help our customers.
          </p>
        
          <ul>
            <li><i class="icofont-check"></i>Our customer support team is available 24/7.</li>
           <li><i class="icofont-check"></i>We are always ready to help you to resolve any of your query.</li>
            <li><i class="icofont-check"></i>Call our Customer Service executive or submit your request online, our tech support staff will get in touch with you.</li>
            <li><i class="icofont-check"></i>Mail us at mail@sparthoughts.com anytime.</li>
          </ul>
        
        </div>
      </div>
      
      </div>
  </section>