<br><br><br><br><br><br><br>
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
            <h2 class="animated fadeInDown" style=" color: #ffff;">TAKE YOUR BUSINESS TO THE NEXT LEVEL.</h2>
             <h4 class="wordCarousel">    
        <span> &nbsp;&nbsp;&nbsp;&nbsp;WE ARE THE EXPERTS IN</span> <br> 
        <div class="divx"> 
		<ul class="flip4" style="font-family:montserrat;"> 
                <li>Cloud Solutions</li>
				<li>E-Commerce Solutions</li>
                <li>Website Design and Development</li>
                <li>Android App Design and Development</li>
				<li>iOS App Design and Development</li>				
				<li>Digital Marketing</li>  
            </ul>
        </div>  
    </h4>
	</div>
	</div>
	</div>
</section>


